{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<script>
$(function(){
	var hash = window.location.hash;
	hash && $('ul.nav a[href="' + hash + '"]').tab('show');

	$('.nav-tabs a').click(function (e) {
		$(this).tab('show');
		var scrollmem = $('body').scrollTop();
		window.location.hash = this.hash;
		$('html,body').scrollTop(scrollmem);
	});
});
</script>

<h1><span class="glyphicon glyphicon-hdd"></span> {{host.user_name}}@{{host.computer_name}}</h1>
<table class="table table-striped table-bordered">
	<tr>
		<th>Username</th>
		<th>Computer Name</th>
		<th>Operating System</th>
		<th>Version</th>
	</tr>
	<tr>
		<td>{{host.user_name}}</td>
		<td>{{host.computer_name}}</td>
		<td>{{host.operating_system}}</td>
		<td>{{host.version}}</td>
	</tr>
</table>

<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#heartbeats" aria-controls="heartbeats" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-heart"></span> Heartbeats</a></li>
	<li role="presentation"><a href="#detections" aria-controls="detections" role="tab" data-toggle="tab" {% if detections %}style="color: #E74C3C;"{% endif %}><span class="glyphicon glyphicon-fire"></span> Detections{%if detections %} ({{detections.count}}){% endif %}</a></li>
	<li role="presentation"><a href="#autoruns" aria-controls="autoruns" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span> Autoruns</a></li>
</ul>


<div class="tab-content">

<div role="tabpanel" class="tab-pane fade in active" id="heartbeats">
<p>This table shows the 10 most recent heartbeats received from this host.</p>
{% if heartbeats %}
<table class="table table-striped table-bordered">
	<tr>
		<th>Date</th>
		<th>IP</th>
		<th>Country</th>
		<th>City</th>
	</tr>
	{% for heartbeat in heartbeats %}
	<tr>
		<td>{{heartbeat.date}}</td>
		<td>{{heartbeat.host_ip}}</td>
		<td><img src="{% with 'flags/'|add:heartbeat.country|add:'.png' as flag_static %}{% static flag_static %}{% endwith %}" alt="" /> {{heartbeat.country}}</td>
		<td>{% if heartbeat.city %}{{heartbeat.city}}{% else %}--{% endif %}</td>
	</tr>
	{% endfor %}
	{% if first_seen and heartbeats.count >= 10 %}
	<tr>
		<td colspan=4>...</td>
	</tr>
	<tr>
		<td>{{first_seen.date}}</td>
		<td>{{first_seen.host_ip}}</td>
		<td><img src="{% with 'flags/'|add:first_seen.country|add:'.png' as flag_static %}{% static flag_static %}{% endwith %}" alt="" /> {{first_seen.country}}</td>
		<td>{% if first_seen.city %}{{first_seen.city}}{% else %}--{% endif %}</td>
	</tr>	
	{% endif %}
</table>
{% else %}
<p>No heartbeats were registered for this host yet.</p>
{% endif %}
</div>

<div role="tabpanel" class="tab-pane fade" id="detections">
<p>This table shows all the detectioins triggered by Yara rules.</p>
{% if detections %}
<table class="table table-striped table-bordered">
	<tr>
		<th>Date</th>
		<th>Type</th>
		<th>Signature</th>
		<th>Process</th>
		<th>Executable</th>
	</tr>
	{% for detection in detections %}
	<tr>
		<td>{{detection.date}}</td>
		<td>{{detection.record_type}}</td>
		<td>{{detection.signature}}</td>
		<td>{{detection.image_name}} ({{detection.process_id}})</td>
		<td>{{detection.image_path}}<br />{{detection.sha256}}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p>No detections have been recorded yet.</p>
{% endif %}
</div>

<div role="tabpanel" class="tab-pane fade" id="autoruns">
<p>This table shows all the records of programs installed with autorun.</p>
{% if autoruns %}
<table class="table table-striped table-bordered">
	<tr>
		<th>Date</th>
		<th>Type</th>
		<th>Image Path</th>
		<th>Arguments</th>
		<th>Hash</th>
	</tr>
	{% for autorun in autoruns %}
	<tr>
		<td>{{autorun.date}}</td>
		<td>{{autorun.autorun_type}}</td>
		<td>{{autorun.image_path}}</td>
		<td>{{autorun.arguments}}</td>
		<td>{{autorun.image_name}}<br />{{autorun.sha256}}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p>No autoruns have been recorded yet.</p>
{% endif %}
</div>

</div>
{% endblock %}
